<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.jera.botaoteca2"
	android:versionCode="7"
	android:installLocation="preferExternal"
	android:versionName="1.6.1">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:launchMode="singleTop" android:name=".Principal" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>

		<activity android:name=".SearchActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait">
     	 </activity>

			<activity android:name=".download.DownloadActivity" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait">
     	 </activity>
		<activity android:name=".widget.BotaotecaWidgetConfigure" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"/>

		<receiver android:name=".widget.BotaotecaWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name=".widget.BotaotecaWidgetProvider.ACTION_WIDGET_RECEIVER"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>

		<!-- xtify configuration start -->
		<activity android:name="com.xtify.android.sdk.SettingsActivity"
			android:label="Settings">
		</activity>
		<activity android:name="com.xtify.android.sdk.NotificationDetailsActivity"
			android:label="Notification Details" android:screenOrientation="portrait">
		</activity>
		<activity android:name="com.xtify.android.sdk.NotificationSettingsActivity"
			android:label="Notification Settings">
		</activity>
		<service android:name="com.xtify.android.sdk.MainService"
			android:label="Notifications Service">
			<intent-filter>
				<action android:name="com.xtify.android.sdk.IMainService" />
				<category android:name="com.xtify.android.sdk.IMainService" />
				<category android:name="com.xtify.android.sdk.IMainService.V1050" />
			</intent-filter>
		</service>
		<receiver android:name="com.xtify.android.sdk.MainReceiver">
			<intent-filter>
				<action android:name="com.xtify.android.sdk.SHOW_NOTIFICATION" />
				<action android:name="com.xtify.android.sdk.NOTIFICATION_CLICKED" />
				<action android:name="com.xtify.android.sdk.NOTIFICATION_CLEARED" />
				<!-- MAKE SURE THE APP KEY ON THE NEXT LINE IS PRECEDED BY A SLASH -->
				<data android:scheme="notif" android:host="notification.xtify.com"
					android:pathPrefix="/31477a9c-3a9d-46d8-8bf1-fc2c3afc6120" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
				<action android:name="com.xtify.android.sdk.SEND_SETTINGS" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_ADDED" />
				<action android:name="android.intent.action.PACKAGE_REMOVED" />
				<data android:scheme="package" />
			</intent-filter>
		</receiver>
		<meta-data android:name="XTIFY_SDK_API_KEY" android:value="31477a9c-3a9d-46d8-8bf1-fc2c3afc6120" />
		<receiver android:name="br.com.jera.botaoteca2.PushNotificationReceiver">
			<intent-filter android:priority="9999">
				<action android:name="com.xtify.android.sdk.SHOW_NOTIFICATION" />
				<!-- KEEP THE FORWARD SLASH IN FRONT OF THE APP KEY ON THE LINE BELOW -->
				<data	android:scheme="notif" 
						android:host="notification.xtify.com"
						android:pathPrefix="/31477a9c-3a9d-46d8-8bf1-fc2c3afc6120" />
			</intent-filter>
		</receiver>
        <!-- xtify configuration end -->

	</application>
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<uses-sdk android:minSdkVersion="4" />

</manifest>
