<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="br.com.jera.botaoteca" android:versionCode="1"
	android:versionName="1.0">
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:launchMode="singleTop" android:name=".Principal" android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>
        	<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		
		<activity android:name=".widget.BotaotecaWidgetConfigure" android:theme="@android:style/Theme.Dialog">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		
		<receiver android:name=".widget.BotaotecaWidgetProvider">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name=".widget.BotaotecaWidgetProvider.ACTION_WIDGET_RECEIVER"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/widget_info" />
		</receiver>
	
	
	</application>

	<uses-sdk android:minSdkVersion="3" />
	
	<supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:anyDensity="true" />
</manifest> 